* {
   
    text-decoration: none;
}
body{
    background-color: lightgreen;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }}
.title{
    text-align: center;
}
.insta{
    background-color: rgb(126, 11, 30);
}
.github{
    background-color: rgb(252, 244, 244);
}